<form action="/events/search" method="get">
    <div class="filed is-grouped">
        <div class="control">
            <input class="input" id="text" type="text" name="search" placeholder="Search events...">
        </div>
        <div class="control">
            <input class="input" id="location" type="text" name="location" placeholder="location">
        </div>
        <div class="control">
        <button type="submit" class="button is-link">Search</button>
        </div>
    </div>

</form>
