
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <strong>Projekt MVC LAB</strong>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home 
        </a>
  
        <a class="navbar-item" href="/events">
          Events
        </a>
  
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <!-- if signed==true show profile and logaot -->
            <% if (isLogged) { %>
                <a class="button is-primary" href="/users/profile">
                Profile
                </a>
                <a class="button is-light" href="/users/logout">
                Logout
                </a>
            <% } else { %>
                <a class="button is-primary" href="/users/login">
                Login
                </a>
            <% } %>
        </div>
      </div>

    </div>
  </nav>
