<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div>
        <h1>401 Not Authorized</h1>
        <p>Sorry, you are not authorized to view this page!</p>
        <a href="/">Back to Home</a>
    </div>
  </div>
  <%- include('partials/footer.ejs')%>
</body>
