<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <h1 class="title">Welcome to the homepage</h1>
    <p class="is-5">
      This is a simple MVC project about events. You can see the events, add new
      events, edit and delete them. You can also sign up and log in to the
      system. Enjoy!
    </p>
  </div>
  <%- include('partials/footer.ejs')%>
</body>
