<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div>
      <h1>404 Not Found</h1>
      <p>Sorry, an error has occured, Requested page not found!</p>
      <a href="/">Back to Home</a>
    </div>
  </div>
  <%- include('partials/footer.ejs')%>
</body>
